body
    {
    background-color: rgb(250, 250, 250);
    margin: 0;
    }

    /* Main Menu */

#LoadMessage
    {
    position: fixed;
    text-align: center;
    }

#MainMenu > *
    {
    min-width: 150px;
    }

#MainMenu, #HighScore
    {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    }

    /* Game Menu */

#MainCanvas, #GameMenu
    {
    display: none;
    }


#GameMenu
    {
    /*display: flex;*/
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    font-size: 18px;
    }


#GameMenu-unit, #GameMenu-tower
    {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    }

.MenuBlock
    {
    min-width: 130px;
    margin: 0 10px;
    }

.button
    {
    cursor: pointer;
    }

.button:hover
    {
    background-color: #e8e8ca;
    }

#Message
    {
    display: none;
    }

.selectedTower, .selectedTower:hover
    {
    background-color: burlywood;
    }

#GameMenu-waveList #current
    {
    border: 3px solid cadetblue;
    }

#GameMenu-waveList
    {
    display: flex;
    flex-direction: row;
    }

#GameMenu-waveList .wave
    {
    min-width: 100px;
    padding: 10px;
    cursor: default;
    }

.Unit
    {
    background-color: rgb(235, 182, 185);
    }

.UnitFast
    {
    background-color: rgb(235, 164, 47);
    }

.UnitFly
    {
    background-color: rgb(226, 243, 155);
    }

.UnitGroup
    {
    background-color: rgb(69, 205, 223);
    }

.UnitImmune
    {
    background-color: rgb(235, 222, 231);
    }

.UnitSpawn
    {
    background-color: rgb(16, 194, 71);
    }

.tooltip
    {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0 0 5px #363636;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    }

.tooltip-show
    {
    display: block;
    }


